$bgclr: rgb(31, 31, 31);

.dashboard{
    background-color: $bgclr;
    color: white;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 10vh ;
    padding-bottom: 2rem;

    .address{
        padding: 2rem 10%;
        align-self: center;
        font-size: 130%;
    }

    .btngrp{
        align-self: center;
        display: flex;
        h2{
            border: 2px solid white;
            padding: 1rem 2.4rem;
            margin: 0.4rem;
            font-size: 1rem;
        }
    }
}

.inventory, .publish{
    background-color: $bgclr;
    color: white;
    padding: 0rem 2.4rem;
    min-height: 63.5vh;
    min-width: 100%;
}

.publish{

    form{
        font-size: 0.8rem;
        background-color:white;
        border: 1px solid #dedede;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 55%;
        padding: 1.4rem 6%;
        padding-bottom: 1.2rem;

        input, select{
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            margin-bottom: 1rem;

        }

        input[type="file"]{
            width: 50%;
            display: inline;
        }

        label{
            color: #3d3d3d;
            margin-bottom: 0.5rem;
        }

        .submitbtn{
            background-color: #6976d9;
            color: white;
            font-size: 1.2rem;
            margin-top: 0.2rem;
        }
    }
}



.payout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 6%;

    background-color: $bgclr;
    color: white;
    padding: 0rem 2.4rem;
    min-width: 100%;
}

.subinventory{
    background-color: $bgclr;
    color: black;
    min-height: 100vh;
    padding-top: 0rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 5%;
}

.card{
    background-color: #ffffff;
    width: 21rem;
    height: 30rem;
    margin: 4.5%;
    padding: 1.6rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imgDiv{
        height: 75%;
        // border: 0.5px solid black;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    .detailsDiv{
        font-size: 0.9rem;
        margin-top: 2.5%;
        display: flex;
        flex-direction: row;
        // justify-content: space-around;
        .nestedDiv{
            margin: auto;
            p{
                margin-bottom: 0.5rem;
            }
        }
        p{
            font-size: 0.9rem;
        }
    }

    .buyDiv{
        height: 10%;
        margin-top: 2.5%;
        width: 100%;
        background-color: #6976d9;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
