
html,
body {
  font-family: 'helvetica ad', sans-serif;
}
h1, h2, h3{
font-family: 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px){
  *{
    display: none;
  }
}