.nav{
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    z-index: 999;
    position: fixed;

    .rightsect{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40vw;
    }
    .address{
      display: none;
    }
  }


.first {
  background-color: #ff90e8;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20vh 0rem 8rem 8rem;

  section{
    justify-content: center;
    align-items: center;
    max-width: 40vw;
    
    h1{
      margin-bottom: 5rem;
      font-size: 5rem;
    }
    p{
      font-size: 1.4rem;
    }

    .btn{
      font-size: 1.6rem;
      background-color: transparent;
      align-self: flex-end;
      padding: 0.4rem 2rem;
      margin: 4rem 4rem 0rem 30vw;
    }
  }
  
  sidebar{
    align-items: center;
    justify-content: center;
  }


  @media only screen and (max-width: 667px) {
    section{
      width: 100%;
    }
    h1{
      font-size: 2rem;
      align-self: flex-start;
    }
    .btn{
      font-size: 1.2rem;
      align-self: center;
    }
  }
}


.second, .third {
  min-height: 100vh;
  background-color:#ffc900;
  color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 4rem 0;

  h2{
    padding: 0rem 4rem 4rem 4rem;
    font-size: 2.4rem;
    align-self: center;
  }

  p{
    font-size: 1.4rem;
    padding: 1.5rem 4rem;
  }
}

.third{
  background-color: #23a094;
}


.footer{ 
  min-height : 20vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  p{
    padding: 0.5rem;
  }
}