.nav{
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    z-index: 999;
    position: fixed;


    .rightDiv{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30vw;
    }
    .address{
      display: none;
    }
  }

  
.rightDiv{
  :hover{
    color: #6976d9;
    transition: all .3s ease;
  }
}

.logo{
  color: #6976d9;
}
