.store{
    background-color: rgb(31, 31, 31);
    // background-color: #eeeeee;
    min-height: 100vh;
    padding-top: 15vh !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 5%;
}

.card{
    background-color: #ffffff;
    width: 24%;
    height: 25rem;
    margin: 3%;
    padding: 1.6rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imgdiv{
        height: 55%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    .detailsdiv{
        height: 25%;
        margin-top: 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .buydiv{
        height: 10%;
        margin-top: 2.5%;
        width: 100%;
        background-color: #6976d9;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}